name: Selenium tests

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: Choose target
        required: true
        default: all_tests
        type: choice
        options:
          - all_tests
          - freeconferencecall_tests
          - qa_practice_tests
          - pythonanywhere_tests
          - stepik_tests
          - suninjuly_tests

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      LOGIN_EMAIL: ${{ vars.LOGIN_EMAIL }}
      LOGIN_PASSWORD: ${{ vars.LOGIN_PASSWORD }}
      STUDENT_NAME: ${{ vars.STUDENT_NAME }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install Chrome
        run: sudo apt-get install google-chrome-stable
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: all_tests
        if: github.event.inputs.deployment_target == 'all_tests'
        run: pytest
      - name: freeconferencecall_tests
        if: github.event.inputs.deployment_target == 'freeconferencecall_tests'
        run: pytest -k freeconferencecall
      - name: qa_practice_tests
        if: github.event.inputs.deployment_target == 'qa_practice_tests'
        run: pytest -k qa_practice
      - name: pythonanywhere_tests
        if: github.event.inputs.deployment_target == 'pythonanywhere_tests'
        run: pytest -k selenium1py_pythonanywhere
      - name: stepik_tests
        if: github.event.inputs.deployment_target == 'stepik_tests'
        run: pytest -k stepik
      - name: suninjuly_tests
        if: github.event.inputs.deployment_target == 'suninjuly_tests'
        run: pytest -k suninjuly_github_io

      - name: Upload Allure results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
